<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>測驗結果</title>

	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
		h1 {color:black; font-size:60px;}
		h3 {color:black; font-size:40px;}
	</style>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

	<script>
		function change1() {
  			document.getElementById("pic").src = "static/holand.jpg";
  			document.getElementById("h2text").innerText = "靜宜行銷";
		}
	</script>

</head>
<body>
	<div>
        <h1>興趣何倫碼測驗結果</p>
    </div>

	<main>
		<img src="holand.jpg" width="30%"id="pic" onmouseover="change1()"></img>

		<h2>我的職業性格代碼：CIA</h2>
		<h3>C事務型</h3>
		簡介：<a href=""></a>事務型的人是典型的“文書者”(Organizer)，性格特徵為：規律、精確、有條理、堅毅、謹慎、有效率、穩重、愛整潔、講求實際、保守、服從指示。<br>

		職業性格傾向：<a href=""></a>在職業性格傾向上，事務型的人個性謹慎，做事講求規矩與精確，樂於處理資料、計算及文書，喜歡在具有明確規範的環境下工作，能夠按部就班、有效率、精確仔細地完成主管交辦的工作。<br>

		價值觀：<a href=""></a>事務型的人的價值觀是較傳統的，會選擇社會所認同的工作及價值觀行事，生活觀是講求踏實與實際，不喜歡改變或創新，也不喜歡冒險或領導。<br>

		問題解決策略：<a href=""></a>在問題解決策略上，會選擇跟隨既定的法則、常規和程序行事，仰仗權威的建議和諮詢、尋求實用的解決方案，能夠制定有次序且仔細的計畫解決問題。<br>

		典型職業：<a href=""></a>事務型的人喜歡從事規律與有條理的工作，其典型職業為：會計師、精算師、銀行人員、行政人員、出納、速記人員、簿記人員、場記、電腦系統分析師、資產管理專員等。<br>

		<h3>I研究型</h3>
		簡介：<a href=""></a>研究型的人是典型的“思辨者”(Thinker)，性格特徵為好奇分析、謹慎條理、理性獨立、謙遜、精確、批判<br>

		職業性格傾向：<a href=""></a>在職業性格傾向上，喜歡運用頭腦，善於觀察、思考、分析與推理，依自己的步調追根究底、解決問題，不喜歡他人給予指引，做事時能夠提出新的想法與策略，但對實際解決問題的細節較無興趣，喜歡與符號、概念、文字有關的工作，不必與人有太多的接觸或運用體力的工作類型。<br>

		價值觀：<a href=""></a>研究型的人的價值觀是自由不守舊的，對嶄新見解和經驗持開放態度，且擁有廣泛的興趣，不是很在乎別人看法，喜歡和有相同興趣或專業的人討論，否則還不如自己看書思考。<br>

		問題解決策略：<a href=""></a>在問題解決策略上，會尋找具挑戰性的問題，仰賴於思考、蒐集資訊和細心分析，以得到與學術性事務相關的客觀資料；較少留心個人感受或社會環境。<br>

		典型職業：<a href=""></a>研究型適合從事需要數理及科學能力，而較不需要人際領導能力的工作，其典型職業為：工程師、化學家、數學家、物理學家、地質學家、醫學家、心理學家、營養師、獸醫、藥劑師等。<br>

		<h3>A藝術型</h3>
		簡介：<a href=""></a>藝術型的人是典型的“創作者”(Creator)，性格特徵為有創意、想像、直覺、獨立、具演藝表達性、跳脫框架限制、不傳統媚俗、理想化、敏銳感性。<br>

		職業性格傾向：<a href=""></a>在職業性格傾向上，喜歡以自己的感性、情緒、直覺和想像，運用文字、影像、聲音、色彩或動作從事創造力與美之藝術創作，並表現出自我的風格，相對地較缺乏處理文書事務能力。<br>

		價值觀：<a href=""></a>藝術型的價值觀注重審美與想像力，開放心胸面對各種感覺、見解和周遭人事物，富有勇氣嘗試新的事物而不喜歡受約束，人際互動模式也較為隨興。<br>

		問題解決策略：<a href=""></a>在問題解決策略上，依據主觀的印象及想像來覺察問題，以藝術性天份與個人特質(如直觀)來解決問題。<br>

		典型職業：<a href=""></a>藝術型適合需要敏銳感覺能力、想像力及創造力的工作，其典型職業為：音樂家、詩人、作家、舞台導演、室內設計師、演員、作曲家、指揮家等。<br>
		
		<img src="104.jpg" width="30%"id="pic" onmouseover="change1()"></img>

	</main>
			
	<footer>
		Copyright ©  微氏玉映. All Rights Reserved.
	</footer>
			
	<a href=/>返回玉映網站首頁</a>	
</body>
</html>
